{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<h1>Profile</h1>

{{ form_start(profileForm) }}
    {{ form_row(profileForm.name) }}
    {{ form_row(profileForm.email) }}
    <button type="submit">Update Profile</button>
{{ form_end(profileForm) }}
{% endblock %}
