<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}E-commerce{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <!-- Navigation bar here -->
        {% include 'partials/navbar.html.twig' %}
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <!-- Footer content here -->
    </footer>

    {% block javascripts %}
        <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}
</body>
</html>
